<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/icon/livro.png">
    <link href="/public/css/global.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ca1b2bc88.js" crossorigin="anonymous"></script>
    <script src="/public/view/assunto/index.js"></script>
    <title>Usuario</title>
</head>
<body>
	<label class="title">Editar Assunto</label>
	<br>
	<label class="message_alert" id="messageAlert"></label>
	<br>
	<form id="editar">
		<input type="hidden" name="id" id="id" >
		<label>Descricao</label>
        <br>
        <input type="text" class='input' name="descricao" maxlength="40" required>
        <br>
        <input class='button' type="submit" value="Editar">
	</form>
	<br>
    <label class="title"><a href="/assunto"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></label>
	<script>
        window.addEventListener('load', function() {
            load();
        });
    </script>
</body>
</html>